---
import type { HTMLAttributes } from "astro/types";
import { sanitizeExternalHref } from "./utils";

interface Props extends HTMLAttributes<"a"> {
  href: string;
}

const { href, rel = "noopener noreferrer nofollow", target = "_blank", ...attrs } = Astro.props;
const safeHref = sanitizeExternalHref(String(href));
---

<a href={safeHref} target={target} rel={rel} {...attrs}>
  <slot />
</a>
