---
import type { HTMLAttributes } from "astro/types";
import { cn } from "./utils";
const { class: className, ...attrs } = Astro.props as HTMLAttributes<"div">;
---

<div
  data-slot="table-empty-state"
  class={cn("flex flex-col items-center justify-center py-12 text-center", className)}
  {...attrs}
>
  <slot />
</div>
