---
import type { HTMLAttributes } from "astro/types";
import { cn } from "./utils";
const { class: className, ...attrs } = Astro.props as HTMLAttributes<"p">;
---
<p data-slot="table-empty-state-description" class={cn("text-foreground-muted mt-1 text-sm", className)} {...attrs}><slot /></p>
