---
import type { HTMLAttributes } from "astro/types";
import { cn } from "../utils";
const { class: className, ...attrs } = Astro.props as HTMLAttributes<"div">;
---
<div data-slot="card-title" class={cn("text-base leading-snug font-medium", className)} {...attrs}><slot /></div>
