---
import type { HTMLAttributes } from "astro/types";
import { cn } from "../utils";
const { class: className, ...attrs } = Astro.props as HTMLAttributes<"div">;
---
<div data-slot="card-footer" class={cn("bg-muted/50 flex items-center rounded-b-xl border-t p-4", className)} {...attrs}><slot /></div>
