---
import type { HTMLAttributes } from "astro/types";
import { cn } from "../utils";
const { class: className, ...attrs } = Astro.props as HTMLAttributes<"div">;
---
<div data-slot="card-header" class={cn("grid auto-rows-min items-start gap-1 px-4", className)} {...attrs}><slot /></div>
