---
import type { HTMLAttributes } from "astro/types";
import { cn } from "../utils";
const { class: className, ...attrs } = Astro.props as HTMLAttributes<"div">;
---
<div data-slot="card-description" class={cn("text-foreground-muted text-sm", className)} {...attrs}><slot /></div>
