---
import Label from "./label.astro";
import { cn } from "../utils";

const { class: className, ...attrs } = Astro.props;
---

<Label data-slot="field-label" class={cn("text-sm leading-none font-medium", className)} {...attrs}>
  <slot />
</Label>
