---
import type { HTMLAttributes } from "astro/types";
import { cn } from "../utils";
const { class: className, ...attrs } = Astro.props as HTMLAttributes<"p">;
---
<p data-slot="field-error" class={cn("text-destructive text-sm font-medium", className)} {...attrs}><slot /></p>
