---
import type { HTMLAttributes } from "astro/types";
import { cn } from "../utils";
const { class: className, ...attrs } = Astro.props as HTMLAttributes<"label">;
---

<label
  data-slot="label"
  class={cn("flex items-center gap-2 text-sm leading-none font-medium", className)}
  {...attrs}
>
  <slot />
</label>
