---
import { cn } from "../utils";

interface Props {
  class?: string;
  viewportClass?: string;
  [key: string]: any;
}

const { class: className, viewportClass, ...attrs } = Astro.props as Props;
---

<div data-slot="scroll-area" class={cn("relative", className)} {...attrs}>
  <div
    data-slot="scroll-area-viewport"
    class={cn("size-full overflow-auto rounded-inherit focus-visible:ring-2 focus-visible:ring-ring/50", viewportClass)}
  >
    <slot />
  </div>
</div>
