---
import Tooltip from "./index.astro";
import { cn } from "../../utils";

interface Props {
  tooltip: string;
  class?: string;
  [key: string]: any;
}

const { tooltip, class: className, ...attrs } = Astro.props as Props;
---

<Tooltip content={tooltip} {...attrs}>
  <span
    class={cn("decoration-foreground-faint underline decoration-dotted underline-offset-2", className)}
  >
    <slot />
  </span>
</Tooltip>
